/.env
/.idea/vcs.xml
/.idea/smoketrader.iml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/prettier.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/copilot.data.migration.agent.xml
